.speech{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: black;

}
.name:hover{
    color: rgb(179, 20, 20);
    text-shadow: 5px 4px 3px burlywood;
    border:  2px solid rgb(10, 104, 76);
    padding: 2px;
    
     

}
.direction{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: black;
    background-color: lightcyan;
}
.direction:hover{
    color: brown;
     background-color: antiquewhite;
}
.helmer{
    color: rgb(58, 35, 209);
}
.nora{
    color: chocolate;
}
table{
    margin: 2px;
    border-spacing: 1.4em 0.8em;
    border-collapse: collapse;
    border:2px solid green;
    text-align: left;
    padding: 0.5em;

}
tr:nth-child(odd)  {
    background-color: rgb(116, 225, 247);
}
td{
    width: 1.5em;
    height: 2em;
    
    text-align: left;
    vertical-align: middle ;

}